@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400&display=swap');

html,
body {
    margin    : 0;
    overflow-x: hidden;

    * {
        font-family: 'Source Sans Pro', sans-serif;
        box-sizing : border-box;
    }
}