@import '../common/variables.less';

html {
    max-width: @bodyMaxWid;
    margin   : 0 auto;

    body {
        max-width: @contentMaxWid;
        margin   : 0 auto;
        padding  : 2rem;
    }
}

//HEADER
header {
    height               : @headerHeight;
    max-width            : @contentMaxWid;
    margin               : 0 auto;
    position             : fixed;
    top                  : 2rem;
    left                 : 2rem;
    right                : 2rem;
    display              : grid;
    grid-template-columns: 70px auto;
    justify-content      : space-between;

    .sideHam {
        height : 40px;
        width  : 40px;
        cursor : pointer;
        display: none !important;
        .centerAlign();

        span {
            position  : relative;
            width     : 50%;
            background: #000;
            height    : 2px;

            &::before,
            &::after {
                content   : '';
                position  : absolute;
                width     : 100%;
                height    : 2px;
                background: #000;
            }

            &::before {
                top: -8px;
            }

            &::after {
                bottom: -8px;
            }

        }
    }

    a {
        height : inherit;
        outline: none;
    }

    .logo {
        img {
            width : 100%;
            height: 100%;
        }
    }

    nav {
        a {
            margin         : 0 1.5rem;
            color          : indigo;
            text-decoration: none;
            font-size      : 18px;

            &:first-child {
                margin-left: 0px;
            }

            &:last-child {
                margin-right: 0px;
            }
        }
    }
}

//SIDEBAR
#sidebar {
    background: #fff;
    position  : fixed;
    width     : 360px;
    height    : 100vh;
    left      : 0;
    right     : 0;
    top       : 0;
    padding   : 4rem;
    display   : none;

    nav {
        a {
            display        : block;
            margin         : 3rem 0;
            text-decoration: none;
            font-size      : 18px;
            color          : indigo
        }
    }
}

//MEDIA QUERIES
@media screen and (max-width: 870px) {
    header {
        grid-template-columns: 50px auto;
        align-items          : center;
        height               : @headerHeight - 10;

        .sideHam {
            display: flex !important;
        }

        nav {
            display: none;
        }
    }
}