@import '../common/variables.less';

html {
    max-width: @bodyMaxWid;
    margin   : 0 auto;
}

.maxContent {
    max-width: @contentMaxWid;
    margin   : 0 auto;
}

//HEADER
header {
    height  : @headerHeight;
    position: fixed;
    top     : 0;
    left    : 0;
    padding : 1.5rem;
    right   : 0;

    .inner {
        display        : flex;
        justify-content: space-between;
        height         : 100%;
    }

    &.active {
        background: #fff;
        .headerActive();

        .logo {
            img {
                transform: scale(0.7) translate(-5px, -32px);
            }
        }
    }

    #sideHam {
        height    : 40px;
        min-width : auto;
        width     : 40px;
        cursor    : pointer;
        background: transparent;
        padding   : 0px;
        outline   : none;
        display   : none !important;
        .centerAlign();

        &[data-action="close"] {
            span {
                background: #f6436f;

                &::before,
                &::after {
                    width     : 50%;
                    left      : 0;
                    background: #f6436f;
                }

                &::before {
                    top      : -3px;
                    transform: rotate(-35deg);
                }

                &::after {
                    bottom   : -3px;
                    transform: rotate(35deg);
                }

            }
        }

        span {
            position  : relative;
            width     : 50%;
            background: #000;
            height    : 2px;

            &::before,
            &::after {
                content           : '';
                position          : absolute;
                width             : 100%;
                height            : 2px;
                background        : #000;
                transition        : all 0.2s ease;
                -webkit-transition: all 0.2s ease;
            }

            &::before {
                top: -8px;
            }

            &::after {
                bottom: -8px;
            }

        }
    }

    a {
        outline: none;
    }



    nav {
        a {
            margin         : 0 1.5rem;
            color          : indigo;
            text-decoration: none;
            font-size      : 18px;

            &:first-child {
                margin-left: 0px;
            }

            &:last-child {
                margin-right: 0px;
            }
        }
    }
}

//SIDEBAR
#sidebar {
    background: linear-gradient(126deg, #285cf5 19%, #0434bf 78%);
    position  : fixed;
    width     : 260px;
    height    : 100vh;
    left      : 0;
    right     : 0;
    top       : 0;
    padding   : 4rem 2.7rem;
    z-index   : 0;

    &[data-visible="false"] {
        transform: translateX(-500px);
    }

    &[data-visible="true"] {
        transform: translateX(0px);
    }

    nav {
        margin-top: 4rem;

        a {
            display        : block;
            margin         : 3rem 0;
            text-decoration: none;
            font-size      : 18px;
            color          : #fff
        }
    }
}

//SECTIONS
.subText {
    background-image       : @buttonGradient;
    -webkit-background-clip: text;
    background-clip        : text;
    -webkit-text-fill-color: transparent;
    text-transform         : uppercase;
    font-weight            : bold;
}

.infoText {
    font-size: 20px;
    color    : #8f9bb0;
}

section {
    min-height : 50vh;
    display    : grid;
    align-items: center;
    padding    : 0 2rem;
    margin     : 8rem auto !important;

    &.center {
        display   : block;
        text-align: center;
    }

    .info {
        max-width: 650px;
    }

    h5 {
        font-size    : 15px;
        margin-bottom: 1em;
    }

    h2 {
        font-weight: initial;
        color      : #12224f;
        margin     : 5px 0;
        font-size  : 2rem;
    }

    h3 {
        font-weight: initial;
        margin     : 5px 0;
        font-size  : 2.5rem;
        color      : #12224f;
        line-height: 1.4;

        .highlight {
            color      : #ff723d;
            font-weight: 600;
        }
    }

    .clients {
        display        : flex;
        justify-content: center;
        flex-wrap      : wrap;

        img {
            width    : 50%;
            max-width: 250px;
        }
    }

    &.blueBg {
        position: relative;

        * {
            color: #fff;
        }

        .overlay {
            position: absolute;
            top     : 0;
            left    : 90px;

            img {
                width: 50%;
            }

            &.hash {
                width: 25%;
                left : 90px;
            }
        }
    }
}

//MEDIA QUERIES
@media screen and (max-width: 320px) {
    #sidebar {
        width: 200px;
    }
}

@media screen and (max-width: 870px) {
    header {
        height     : @headerHeight + 8;
        align-items: center;
        z-index    : 1;

        #sideHam {
            display: flex !important;
        }

        nav {
            display: none;
        }
    }

    section {
        &.blueBg {
            background: url('../../assets/images/altSectionBg.svg') no-repeat;
        }
    }
}