.centerAlign {
  display: flex;
  align-items: center;
  justify-content: center;
}
.headerActive {
  -webkit-box-shadow: 0 12px 16px 0 rgba(191, 0, 0, 0.16);
  -moz-box-shadow: 0 12px 16px 0 rgba(191, 0, 0, 0.16);
  box-shadow: 0 12px 16px 0 rgba(191, 0, 0, 0.16);
}
html {
  max-width: 1920px;
  margin: 0 auto;
}
.maxContent {
  max-width: 1600px;
  margin: 0 auto;
}
header {
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1.5rem;
  right: 0;
}
header .inner {
  display: flex;
  justify-content: space-between;
  height: 100%;
  padding: 0 8px;
}
header.active {
  background: #fff;
  -webkit-box-shadow: 0 12px 16px 0 rgba(191, 0, 0, 0.16);
  -moz-box-shadow: 0 12px 16px 0 rgba(191, 0, 0, 0.16);
  box-shadow: 0 12px 16px 0 rgba(191, 0, 0, 0.16);
}
header.active .logo img {
  transform: scale(0.7) translate(-5px, -32px);
}
header #sideHam {
  height: 40px;
  min-width: auto;
  width: 40px;
  cursor: pointer;
  background: transparent;
  padding: 0px;
  outline: none;
  display: none !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
header #sideHam[data-action="close"] span {
  background: #f6436f;
}
header #sideHam[data-action="close"] span::before,
header #sideHam[data-action="close"] span::after {
  width: 50%;
  left: 0;
  background: #f6436f;
}
header #sideHam[data-action="close"] span::before {
  top: -3px;
  transform: rotate(-35deg);
}
header #sideHam[data-action="close"] span::after {
  bottom: -3px;
  transform: rotate(35deg);
}
header #sideHam span {
  position: relative;
  width: 50%;
  background: #000;
  height: 2px;
}
header #sideHam span::before,
header #sideHam span::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: #000;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
}
header #sideHam span::before {
  top: -8px;
}
header #sideHam span::after {
  bottom: -8px;
}
header a {
  outline: none;
}
header nav a {
  margin: 0 1.5rem;
  color: indigo;
  text-decoration: none;
  font-size: 18px;
}
header nav a:first-child {
  margin-left: 0px;
}
header nav a:last-child {
  margin-right: 0px;
}
#sidebar {
  background: linear-gradient(126deg, #285cf5 19%, #0434bf 78%);
  position: fixed;
  width: 260px;
  height: 100vh;
  left: 0;
  right: 0;
  top: 0;
  padding: 4rem 2.7rem;
  z-index: 0;
}
#sidebar[data-visible="false"] {
  transform: translateX(-500px);
}
#sidebar[data-visible="true"] {
  transform: translateX(0px);
}
#sidebar nav {
  margin-top: 4rem;
}
#sidebar nav a {
  display: block;
  margin: 3rem 0;
  text-decoration: none;
  font-size: 18px;
  color: #fff;
}
.subText {
  background-image: linear-gradient(97deg, #f47954, #f6436f);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  font-weight: bold;
}
.infoText {
  font-size: 20px;
  color: #8f9bb0;
}
section {
  min-height: 50vh;
  display: grid;
  align-items: center;
  padding: 0 2rem;
  margin: 8rem auto !important;
}
section.center {
  display: block;
  text-align: center;
}
section .info {
  max-width: 650px;
}
section h5 {
  font-size: 15px;
  margin-bottom: 1em;
}
section h2 {
  font-weight: initial;
  color: #12224f;
  margin: 5px 0;
  font-size: 2rem;
}
section h3 {
  font-weight: initial;
  margin: 5px 0;
  font-size: 2.5rem;
  color: #12224f;
  line-height: 1.4;
}
section h3 .highlight {
  color: #ff723d;
  font-weight: 600;
}
section .clients {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
section .clients img {
  width: 50%;
  max-width: 250px;
}
section.blueBg {
  position: relative;
}
section.blueBg .bgImages {
  background: url(../../assets/images/altSectionBgOverlay.png) no-repeat;
  background-size: 100% auto;
  position: relative;
  max-width: 1230px;
  margin: 0 auto;
}
section.blueBg .bgImages * {
  color: #fff;
}
section.blueBg .bgImages img {
  position: relative;
  z-index: -1;
}
section.blueBg .overlay {
  position: absolute;
  top: calc(100% - 440px);
  left: 0;
  right: 0;
  max-width: 60%;
  margin: 0 auto;
}
section.blueBg .overlay .subText {
  background-image: none;
  -webkit-text-fill-color: #fff;
  font-weight: initial;
}
section.blueBg .overlay p {
  line-height: 1.4;
  font-size: 19px;
}
@media screen and (max-width: 320px) {
  #sidebar {
    width: 200px;
  }
}
@media screen and (max-width: 870px) {
  header {
    height: 88px;
    align-items: center;
    z-index: 1;
  }
  header .inner {
    padding: 0px;
  }
  header #sideHam {
    display: flex !important;
  }
  header nav {
    display: none;
  }
  section.blueBg .bgImages .bgImg {
    transform: scale(1.7) !important;
  }
  section.blueBg .bgImages .overlay {
    top: calc(100% - 325px) !important;
    max-width: 75%;
  }
  section.blueBg .bgImages .overlay p {
    font-size: 16px;
  }
}
@media screen and (max-width: 1140px) {
  section.blueBg .bgImages .bgImg {
    transform: scale(1.2);
  }
  section.blueBg .bgImages .overlay {
    top: calc(100% - 360px);
    max-width: 75%;
  }
  section.blueBg .bgImages .overlay p {
    font-size: 16px;
  }
}
@media screen and (max-width: 640px) {
  section.blueBg .bgImages .bgImg {
    transform: translateY(100px) scale(4) !important;
  }
  section.blueBg .bgImages .overlay {
    top: 0 !important;
    max-width: 100%;
  }
  section.blueBg .bgImages .overlay h2 {
    font-size: 23px;
  }
  section.blueBg .bgImages .overlay p {
    font-size: 16px;
  }
}
